.project_operation_row {
    padding: 6px 0px;
}

.project_operation_col_key {
    font-weight:bold;
    text-align: center;
    line-height: 32px;
}

.project_detail_row {
    padding: 6px 0px;
}

.project_detail_col_key {
    font-weight:bold;
    text-align: center;
}

.project_datepicker_input {
    width:100%
}
